In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', 1000) # shows all the columns
pd.set_option('display.float_format', lambda x: '%.4f' % x) # displays outputs with 1 decimal
pd.set_option('display.max_rows', 10000) # shows all the rows
%matplotlib inline

In [17]:
df_adv = pd.read_csv("advertising.csv")

In [18]:
df_adv.head()

        TV   Radio  Newspaper   Sales
0 230.1000 37.8000    69.2000 22.1000
1  44.5000 39.3000    45.1000 10.4000
2  17.2000 45.9000    69.3000 12.0000
3 151.5000 41.3000    58.5000 16.5000
4 180.8000 10.8000    58.4000 17.9000

In [19]:
df_adv.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [20]:
import statsmodels.api as sm
X = df_adv[['TV','Radio','Newspaper']]
y = df_adv['Sales']
df_adv.head()

        TV   Radio  Newspaper   Sales
0 230.1000 37.8000    69.2000 22.1000
1  44.5000 39.3000    45.1000 10.4000
2  17.2000 45.9000    69.3000 12.0000
3 151.5000 41.3000    58.5000 16.5000
4 180.8000 10.8000    58.4000 17.9000

In [21]:
X = sm.add_constant(X)

In [22]:
X

     const       TV   Radio  Newspaper
0   1.0000 230.1000 37.8000    69.2000
1   1.0000  44.5000 39.3000    45.1000
2   1.0000  17.2000 45.9000    69.3000
3   1.0000 151.5000 41.3000    58.5000
4   1.0000 180.8000 10.8000    58.4000
5   1.0000   8.7000 48.9000    75.0000
6   1.0000  57.5000 32.8000    23.5000
7   1.0000 120.2000 19.6000    11.6000
8   1.0000   8.6000  2.1000     1.0000
9   1.0000 199.8000  2.6000    21.2000
10  1.0000  66.1000  5.8000    24.2000
11  1.0000 214.7000 24.0000     4.0000
12  1.0000  23.8000 35.1000    65.9000
13  1.0000  97.5000  7.6000     7.2000
14  1.0000 204.1000 32.9000    46.0000
15  1.0000 195.4000 47.7000    52.9000
16  1.0000  67.8000 36.6000   114.0000
17  1.0000 281.4000 39.6000    55.8000
18  1.0000  69.2000 20.5000    18.3000
19  1.0000 147.3000 23.9000    19.1000
20  1.0000 218.4000 27.7000    53.4000
21  1.0000 237.4000  5.1000    23.5000
22  1.0000  13.2000 15.9000    49.6000
23  1.0000 228.3000 16.9000    26.2000
24  1.0000  62.3000 12.6000    18.3000
25  1.0000 262.9000  3.5000    19.5000
26  1.0000 142.9000 29.3000    12.6000
27  1.0000 240.1000 16.7000    22.9000
28  1.0000 248.8000 27.1000    22.9000
29  1.0000  70.6000 16.0000    40.8000
30  1.0000 292.9000 28.3000    43.2000
31  1.0000 112.9000 17.4000    38.6000
32  1.0000  97.2000  1.5000    30.0000
33  1.0000 265.6000 20.0000     0.3000
34  1.0000  95.7000  1.4000     7.4000
35  1.0000 290.7000  4.1000     8.5000
36  1.0000 266.9000 43.8000     5.0000
37  1.0000  74.7000 49.4000    45.7000
38  1.0000  43.1000 26.7000    35.1000
39  1.0000 228.0000 37.7000    32.0000
40  1.0000 202.5000 22.3000    31.6000
41  1.0000 177.0000 33.4000    38.7000
42  1.0000 293.6000 27.7000     1.8000
43  1.0000 206.9000  8.4000    26.4000
44  1.0000  25.1000 25.7000    43.3000
45  1.0000 175.1000 22.5000    31.5000
46  1.0000  89.7000  9.9000    35.7000
47  1.0000 239.9000 41.5000    18.5000
48  1.0000 227.2000 15.8000    49.9000
49  1.0000  66.9000 11.7000    36.8000
50  1.0000 199.8000  3.1000    34.6000
51  1.0000 100.4000  9.6000     3.6000
52  1.0000 216.4000 41.7000    39.6000
53  1.0000 182.6000 46.2000    58.7000
54  1.0000 262.7000 28.8000    15.9000
55  1.0000 198.9000 49.4000    60.0000
56  1.0000   7.3000 28.1000    41.4000
57  1.0000 136.2000 19.2000    16.6000
58  1.0000 210.8000 49.6000    37.7000
59  1.0000 210.7000 29.5000     9.3000
60  1.0000  53.5000  2.0000    21.4000
61  1.0000 261.3000 42.7000    54.7000
62  1.0000 239.3000 15.5000    27.3000
63  1.0000 102.7000 29.6000     8.4000
64  1.0000 131.1000 42.8000    28.9000
65  1.0000  69.0000  9.3000     0.9000
66  1.0000  31.5000 24.6000     2.2000
67  1.0000 139.3000 14.5000    10.2000
68  1.0000 237.4000 27.5000    11.0000
69  1.0000 216.8000 43.9000    27.2000
70  1.0000 199.1000 30.6000    38.7000
71  1.0000 109.8000 14.3000    31.7000
72  1.0000  26.8000 33.0000    19.3000
73  1.0000 129.4000  5.7000    31.3000
74  1.0000 213.4000 24.6000    13.1000
75  1.0000  16.9000 43.7000    89.4000
76  1.0000  27.5000  1.6000    20.7000
77  1.0000 120.5000 28.5000    14.2000
78  1.0000   5.4000 29.9000     9.4000
79  1.0000 116.0000  7.7000    23.1000
80  1.0000  76.4000 26.7000    22.3000
81  1.0000 239.8000  4.1000    36.9000
82  1.0000  75.3000 20.3000    32.5000
83  1.0000  68.4000 44.5000    35.6000
84  1.0000 213.5000 43.0000    33.8000
85  1.0000 193.2000 18.4000    65.7000
86  1.0000  76.3000 27.5000    16.0000
87  1.0000 110.7000 40.6000    63.2000
88  1.0000  88.3000 25.5000    73.4000
89  1.0000 109.8000 47.8000    51.4000
90  1.0000 134.3000  4.9000     9.3000
91  1.0000  28.6000  1.5000    33.0000
92  1.0000 217.7000 33.5000    59.0000
93  1.0000 250.9000 36.5000    72.3000
94  1.0000 107.4000 14.0000    10.9000
95  1.0000 163.3000 31.6000    52.9000
96  1.0000 197.6000  3.5000     5.9000
97  1.0000 184.9000 21.0000    22.0000
98  1.0000 289.7000 42.3000    51.2000
99  1.0000 135.2000 41.7000    45.9000
100 1.0000 222.4000  4.3000    49.8000
101 1.0000 296.4000 36.3000   100.9000
102 1.0000 280.2000 10.1000    21.4000
103 1.0000 187.9000 17.2000    17.9000
104 1.0000 238.2000 34.3000     5.3000
105 1.0000 137.9000 46.4000    59.0000
106 1.0000  25.0000 11.0000    29.7000
107 1.0000  90.4000  0.3000    23.2000
108 1.0000  13.1000  0.4000    25.6000
109 1.0000 255.4000 26.9000     5.5000
110 1.0000 225.8000  8.2000    56.5000
111 1.0000 241.7000 38.0000    23.2000
112 1.0000 175.7000 15.4000     2.4000
113 1.0000 209.6000 20.6000    10.7000
114 1.0000  78.2000 46.8000    34.5000
115 1.0000  75.1000 35.0000    52.7000
116 1.0000 139.2000 14.3000    25.6000
117 1.0000  76.4000  0.8000    14.8000
118 1.0000 125.7000 36.9000    79.2000
119 1.0000  19.4000 16.0000    22.3000
120 1.0000 141.3000 26.8000    46.2000
121 1.0000  18.8000 21.7000    50.4000
122 1.0000 224.0000  2.4000    15.6000
123 1.0000 123.1000 34.6000    12.4000
124 1.0000 229.5000 32.3000    74.2000
125 1.0000  87.2000 11.8000    25.9000
126 1.0000   7.8000 38.9000    50.6000
127 1.0000  80.2000  0.0000     9.2000
128 1.0000 220.3000 49.0000     3.2000
129 1.0000  59.6000 12.0000    43.1000
130 1.0000   0.7000 39.6000     8.7000
131 1.0000 265.2000  2.9000    43.0000
132 1.0000   8.4000 27.2000     2.1000
133 1.0000 219.8000 33.5000    45.1000
134 1.0000  36.9000 38.6000    65.6000
135 1.0000  48.3000 47.0000     8.5000
136 1.0000  25.6000 39.0000     9.3000
137 1.0000 273.7000 28.9000    59.7000
138 1.0000  43.0000 25.9000    20.5000
139 1.0000 184.9000 43.9000     1.7000
140 1.0000  73.4000 17.0000    12.9000
141 1.0000 193.7000 35.4000    75.6000
142 1.0000 220.5000 33.2000    37.9000
143 1.0000 104.6000  5.7000    34.4000
144 1.0000  96.2000 14.8000    38.9000
145 1.0000 140.3000  1.9000     9.0000
146 1.0000 240.1000  7.3000     8.7000
147 1.0000 243.2000 49.0000    44.3000
148 1.0000  38.0000 40.3000    11.9000
149 1.0000  44.7000 25.8000    20.6000
150 1.0000 280.7000 13.9000    37.0000
151 1.0000 121.0000  8.4000    48.7000
152 1.0000 197.6000 23.3000    14.2000
153 1.0000 171.3000 39.7000    37.7000
154 1.0000 187.8000 21.1000     9.5000
155 1.0000   4.1000 11.6000     5.7000
156 1.0000  93.9000 43.5000    50.5000
157 1.0000 149.8000  1.3000    24.3000
158 1.0000  11.7000 36.9000    45.2000
159 1.0000 131.7000 18.4000    34.6000
160 1.0000 172.5000 18.1000    30.7000
161 1.0000  85.7000 35.8000    49.3000
162 1.0000 188.4000 18.1000    25.6000
163 1.0000 163.5000 36.8000     7.4000
164 1.0000 117.2000 14.7000     5.4000
165 1.0000 234.5000  3.4000    84.8000
166 1.0000  17.9000 37.6000    21.6000
167 1.0000 206.8000  5.2000    19.4000
168 1.0000 215.4000 23.6000    57.6000
169 1.0000 284.3000 10.6000     6.4000
170 1.0000  50.0000 11.6000    18.4000
171 1.0000 164.5000 20.9000    47.4000
172 1.0000  19.6000 20.1000    17.0000
173 1.0000 168.4000  7.1000    12.8000
174 1.0000 222.4000  3.4000    13.1000
175 1.0000 276.9000 48.9000    41.8000
176 1.0000 248.4000 30.2000    20.3000
177 1.0000 170.2000  7.8000    35.2000
178 1.0000 276.7000  2.3000    23.7000
179 1.0000 165.6000 10.0000    17.6000
180 1.0000 156.6000  2.6000     8.3000
181 1.0000 218.5000  5.4000    27.4000
182 1.0000  56.2000  5.7000    29.7000
183 1.0000 287.6000 43.0000    71.8000
184 1.0000 253.8000 21.3000    30.0000
185 1.0000 205.0000 45.1000    19.6000
186 1.0000 139.5000  2.1000    26.6000
187 1.0000 191.1000 28.7000    18.2000
188 1.0000 286.0000 13.9000     3.7000
189 1.0000  18.7000 12.1000    23.4000
190 1.0000  39.5000 41.1000     5.8000
191 1.0000  75.5000 10.8000     6.0000
192 1.0000  17.2000  4.1000    31.6000
193 1.0000 166.8000 42.0000     3.6000
194 1.0000 149.7000 35.6000     6.0000
195 1.0000  38.2000  3.7000    13.8000
196 1.0000  94.2000  4.9000     8.1000
197 1.0000 177.0000  9.3000     6.4000
198 1.0000 283.6000 42.0000    66.2000
199 1.0000 232.1000  8.6000     8.7000

In [23]:
## fit a OLS model with intercept on TV and Radio

model= sm.OLS(y, X).fit()

In [32]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.960
Model:                            OLS   Adj. R-squared:                  0.957
Method:                 Least Squares   F-statistic:                     323.9
Date:                Fri, 08 Jul 2022   Prob (F-statistic):           1.35e-19
Time:                        19:36:55   Log-Likelihood:                -300.35
No. Observations:                  30   AIC:                             606.7
Df Residuals:                      27   BIC:                             610.9
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -6661.9872   2.28e+04     -0.292      0.773   -5.35e+04    4.02e+04
YearsExperience  6153.3533   2337.092      2.633      0.014    1358.037    1.09e+04
Age              1836.0136   1285.034      1.429      0.165    -800.659    4472.686
==============================================================================
Omnibus:                        2.695   Durbin-Watson:                   1.711
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                1.975
Skew:                           0.456   Prob(JB):                        0.372
Kurtosis:                       2.135   Cond. No.                         626.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [33]:
import matplotlib.pyplot as plt
X.iloc[:,1:].corr()

                 YearsExperience    Age
YearsExperience           1.0000 0.9873
Age                       0.9873 1.0000

In [34]:
df_salary = pd.read_csv('Salary_Data.csv')
df_salary.head()

   YearsExperience     Age  Salary
0           1.1000 21.0000   39343
1           1.3000 21.5000   46205
2           1.5000 21.7000   37731
3           2.0000 22.0000   43525
4           2.2000 22.2000   39891

In [35]:
X = df_salary[['YearsExperience', 'Age']]
y = df_salary['Salary']

In [28]:
## fit a OLS model with intercept on TV and Radio
X = sm.add_constant(X)
model= sm.OLS(y, X).fit()

In [29]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.960
Model:                            OLS   Adj. R-squared:                  0.957
Method:                 Least Squares   F-statistic:                     323.9
Date:                Fri, 08 Jul 2022   Prob (F-statistic):           1.35e-19
Time:                        19:36:20   Log-Likelihood:                -300.35
No. Observations:                  30   AIC:                             606.7
Df Residuals:                      27   BIC:                             610.9
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const           -6661.9872   2.28e+04     -0.292      0.773   -5.35e+04    4.02e+04
YearsExperience  6153.3533   2337.092      2.633      0.014    1358.037    1.09e+04
Age              1836.0136   1285.034      1.429      0.165    -800.659    4472.686
==============================================================================
Omnibus:                        2.695   Durbin-Watson:                   1.711
Prob(Omnibus):                  0.260   Jarque-Bera (JB):                1.975
Skew:                           0.456   Prob(JB):                        0.372
Kurtosis:                       2.135   Cond. No.                         626.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [31]:
X.iloc[:,1:].corr()

                 YearsExperience    Age
YearsExperience           1.0000 0.9873
Age                       0.9873 1.0000